<div> <span><h2>Book Details</h2></span><span style="float:right"> <button id="add" class="btn glyphicon glyphicon-plus" onClick="location.href='#/create'" </button></span></div>
        <!--<h2>Employee Details</h2> <span style="float:right"><a href="#/create">Create Employee</a></span>-->
         <table style="width:100%">
            <thead>
                <tr>
                    
                    <th>BookID</th>
                    <th>BookName</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="hero in Books">
                    {{Book}}
                    <td>{{hero.bookId}}</td>
                    <td>{{hero.bookname}}</td>
                </tr>
            </tbody>
        </table> 
      
    </div>